body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
}
.button{
    width: 48px;
    height: 48px;

    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    box-shadow: inset -5px -5px 12px #ffffff,
                     5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

}
.input{
    width: 90%;
    height: 30px;
    

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 15px;
    border-radius: 30px;


    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
#input{
    height: 40px;
    border-radius: 20px;



    
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid #86A8E7;
    color: black;
    
}